.container{
  background-color: white;
  height: 100vw;


}



.div1{
background-color: white;
float: left;
width:33.33%;
/* align-items: center; */


}
.div2{
background-color: white;
margin: 0 auto;
width: 23.33%;
/* height: 100vw; */
/* height: 50%; */

}
.div3{

  background-color: white;
  float: right;
  width: 23.33%;
  /* height: 100vw; */



}
.productImage{
  width: 50%;
}

.productName{
  color: black;
  font-size: 15px;
}

.productPrice{
  color: black;
}

/* quantity  */
.qtyBTN{
  padding: 10px 8px;
  border: 0;
  width: 50px;
  font-size: 12px;
  background: white;
  border: 2px solid black;
  color: black;
}

.atcBTN{
  background-color: #ffa33a;;
  border-color: #c60;;
  padding: 10px 14px;

}
