.container1{
  background-color: #F0EEED;
  height: 100vh;
}

.email{
  width: 300px;
  height: 44px;
  background-color: white;
  color : black

}

.formcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F0EEED;
  row-gap: 20px;
  outline-style: none;
  padding: 50px;
}

#signInBtn{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  background-color: orange;
}

.oneTimeBTN{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  color: black;
  font-weight: bold;
  background-color: white;

}

.appleBTN{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  color: black;
  font-weight: bold;
  background-color: white
}

.googleBTN{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  color:black;
  font-weight: bold;
  background-color: white
}

.title{
  color: black;

}

.orTitle{
  color: black;
}

.signUpBTN{
  color: black;
  text-decoration: underline;
}

.registerform{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F0EEED;
  row-gap: 20px;
  outline-style: none;
  padding: 50px
}

.firstName{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;

}

.lastName{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;

}

.mobile{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;
}

.pass{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;
}

.title{
  color: black;
}

.SignInBTN{
  color: black;
  text-decoration: underline;
}

.accountLbl{
  color: black;
}

.regisBTN{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  background-color: orange;
}


.checkbox{
  background-color: white;
  height: 10px;
  width: 10px;

}

.checkboxTitle{
  color: black;
}

/* home page  */

.container{
  height: 100vh;
  background-color: #F0EEED;;

}

.navbar{
  position: relative;
  width: 100%;
  padding: 15px 30px;
  height: auto;
  line-height: 60px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}


/* Nav logo  */

.logo{
  display: flex;
  height: 70px;
}

.logoNav{
  display: flex;
  height: 45px;

}

.searchIcon{
  display: flex;
  height: 30px;
}

.hamMenu{
  display: flex;
  height: 30px;
}

.location{
  display: flex;
  height: 30px;
}

.uk{
  display: flex;
  height: 40px;
}

.singInLink{
  display: flex;
  color: black;
}

.homeSignIn{
  display: flex;
  border-radius: 30px;
  padding: 5px 10px;
}

.searchBar{
  display: flex;
  padding: 0px 40px 0px 15px;
  border-radius: 20px;
  height: 40px;
  width: 300px;
}

.deliver{
  display: flex;
  color: black;
  text-decoration: none
}

.return{
  display: flex;
  color: black;
}

/* carousel
 */

 .homeCarouselContainer{
  padding: 10px;
  margin: 0px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 .selectedImage{
    width: 100%;
    height: 30vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
 }

 .bannerBtn{
    border-radius: 8px;
    padding: 3px;
    width: 5vw;
    min-width: fit-content;
 }

 /* .rightButton{
    border-radius: 8px;
    padding: 3px;
    width: 5vw;
    min-width: fit-content;

    /* margin-left:-60px;
    z-index:100;

  }
  .leftButton{
    border-radius: 8px;
    padding: 3px;
    width: 5vw;
    min-width: fit-content;
    position:relative;
    margin-right:-60px;
    z-index:100;
  } */

  /* card product */

  .productName{
    color: black;
  }

  .price{
    color: black;
    font-weight: 600;
  }

  .card {
    height: 320px;
    width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .productImage{
    width: 100%;
  }

  .productName{
    font-size: 10px;
  }

  .cardContainer{
    background-color: white;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    column-gap: 2vw;
  }

  .toCart{
    background-color: rgb(238, 149, 5);
    border: 1px solid rgb(199, 125, 6);
    margin-bottom: 20%;
    padding: 1vw 2vw;
    border-radius: 10px;
  }


