.container1{
  background-color: #F0EEED;
  height: 100vh;
}

.email{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;

}

.registerform{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F0EEED;
  row-gap: 20px;
  outline-style: none;
}

.firstName{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;

}

.lastName{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;

}

.mobile{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;
}

.pass{
  width: 300px;
  height: 44px;
  background-color: white;
  color: black;
}

.title{
  color: black;
}

.SignInBTN{
  color: black;
  text-decoration: underline;
}

.accountLbl{
  color: black;
}

.regisBTN{
  width: 300px;
  height: 44px;
  padding: 12px 15px;
  background-color: orange;
}


.checkbox{
  background-color: white;
  height: 10px;
  width: 10px;

}

.checkboxTitle{
  color: black;
}
